.profile {
    width: 95%;
    height: 100%;
}

.profile .about {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.profile .about img {
    border-radius: 50%;
    height: 15vmin;
    width: 15vmin;
    object-fit: cover;
    border: 0.5vmin solid var(--text-color);
}

.profile .about .stats-container {
    display: flex;
    margin: 1.5vmin;
    gap: 2vmin;
    width: 100%;
    justify-content: center;
}

.profile .favorites {
    height: 50%;
    width: 100%;
    display: flex;
}

#logout {
    background-color: transparent;
}