@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg: #181818;
  --text-color: white;
  --text-font: 'Montserrat', Verdana, sans-serif;
  --secondary-color: #1cb954;
  --sidebar-color: #040205;
}

a {
  background-color: var(--secondary-color);
  padding: 1.5vmin;
  min-width: 12%;
  border: 0.75vmin solid var(--secondary-color);
  text-transform: uppercase;
  border-radius: 999vmin;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

button {
  cursor: pointer;
}

.App, a, button {
  font-family: var(--text-font);
  color: var(--text-color);
}

.App {
  background-color: var(--main-bg);
  
  width: 100vw;
  height: 100vh;
  position: relative;
}

.icon {
  position: absolute;
  padding: 1vmin;
  width: 100%;

  object-fit: contain;
}

.pill-button {
  border-radius: 999vmin;
  border: 0.5vmin solid var(--secondary-color);
  padding: 1vmin;
  background-color: transparent;
}

#spotify-logo {
  top: 0;
}

#github-logo {
  bottom: 0;
  filter: invert();
}